<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
    <title>Title</title>
</head>
<body>
<div th:fragment="header(current)" >
        <a href="index.html" class="logo">PugSureWoi</a>
        <ul>
            <li th:class="${current == 'home' ? 'current' : ''}">
                <a class="home" th:href="@{index.html}">Home</a>
            </li>
            <li th:class="${current == 'about' ? 'current' : ''}">
                <a class="about" th:href="@{about.html}">About</a>
            </li>
            <li>
                <a class="blog" th:href="@{blog.html}">Blog</a>
            </li>
            <li>
                <a class="services" th:href="@{services.html}">Services</a>
            </li>
            <li th:class="${current == 'dogs' ? 'current' : ''}">
                <a class="dogs" th:href="@{dogs.html}">Dogs</a>
            </li>
            <li>
                <a class="pups" th:href="@{pups.html}">Pups</a>
            </li>
            <li>
                <a class="login" th:href="@{login.html}">Login</a>
            </li>

        </ul>
</div>
</body>
</html>